{{#if @blog.navigation}} {{navigation}}{{/if}}
<div class="header">
    {{#if @blog.logo}}
        <a href="{{@blog.url}}" class="logo"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>
    {{/if}}
    <a class="tit" href="{{@blog.url}}">{{@blog.title}}</a>
</div>
<p class="links">
    <a href="https://github.com/zhaohaodang" target="_blank">
        <svg t="1504343144345" class="icon" style="" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="9887"
            xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20">
            <defs>
                <style type="text/css"></style>
            </defs>
            <path d="M63.1 523.6c0 196 125.6 362.7 300.7 423.9 23.6 6 20-10.9 20-22.3l0-77.8c-136.2 16-141.6-74.2-150.8-89.2-18.5-31.6-62.1-39.6-49.1-54.6 31-16 62.6 4 99.2 58.1 26.5 39.2 78.1 32.6 104.3 26 5.7-23.6 18-44.6 34.8-61C281.2 701.6 222.4 615.5 222.4 513.1c0-49.6 16.4-95.3 48.5-132.1-20.4-60.8 1.9-112.7 4.9-120.4 58.3-5.3 118.8 41.7 123.5 45.4 33.1-8.9 70.9-13.7 113.2-13.7 42.5 0 80.5 4.9 113.8 13.9 11.3-8.6 67.5-48.9 121.7-44 2.9 7.7 24.7 58.5 5.5 118.4 32.5 36.9 49.1 82.9 49.1 132.7 0 102.6-59.2 188.8-200.6 213.7 23.6 23.3 38.2 55.6 38.2 91.4l0 112.9c0.8 9 0 18 15.1 18C833 889.4 960.9 721.5 960.9 523.7c0-248-201-448.9-448.9-448.9C264 74.7 63.1 275.6 63.1 523.6L63.1 523.6z"
                p-id="9888" fill="#666666"></path>
        </svg>
    </a>
    <a href="https://www.zhihu.com/people/zhaohaodang" target="_blank">
        <svg t="1504343271556" class="icon" style="" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="12397"
            xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20">
            <defs>
                <style type="text/css"></style>
            </defs>
            <path d="M940.35 795.875c0 78.652-63.771 142.422-142.421 142.422H228.226c-78.655 0-142.427-63.772-142.427-142.422v-569.7c0-78.658 63.772-142.432 142.427-142.432H797.93c78.658 0 142.432 63.772 142.432 142.431l-0.01 569.701zM415.621 543.356h125.593c0-29.528-13.923-46.824-13.923-46.824H418.295c2.59-53.493 4.91-122.15 5.739-147.65h103.677s-0.561-43.871-12.091-43.871H333.378s10.971-57.374 25.594-82.7c0 0-54.417-2.938-72.98 69.622-18.562 72.56-46.404 116.43-49.356 124.446-2.953 8.013 16.031 3.795 24.044 0 8.015-3.797 44.294-16.876 54.84-67.496h56.35c0.76 32.082 2.99 130.397 2.287 147.649H258.15c-16.45 11.81-21.936 46.824-21.936 46.824h132.592c-5.53 36.615-15.239 83.813-28.817 108.835-21.513 39.655-32.904 75.934-110.525 138.368 0 0-12.657 9.28 26.576 5.906 39.231-3.372 76.356-13.498 102.087-64.963 13.378-26.756 27.213-60.697 38.006-95.121l-0.04 0.12 109.26 125.795s14.343-33.747 3.798-70.87l-80.994-90.698-27.42 20.279-0.031 0.099c7.615-26.7 13.092-53.095 14.795-76.061 0.042-0.553 0.084-1.119 0.121-1.689zM567.366 295.73v435.35h45.77l18.753 52.405 79.328-52.405h99.978V295.73H567.366zM764.09 684.253h-51.968l-64.817 42.817-15.319-42.817H615.81v-339.94h148.28v339.94z m0 0"
                p-id="12398" fill="#666666"></path>
        </svg>
    </a>
    <a href="mailto:zhaohaodang@gmail.com" target="_blank">
        <svg t="1504342723971" class="icon" style="" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="7457"
            xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20">
            <defs>
                <style type="text/css"></style>
            </defs>
            <path d="M512 505.6l-169.952-125.856h339.904L512 505.6z" fill="#666666" p-id="7458"></path>
            <path d="M527.648 559.648l222.592-164.256v248.896H273.792v-248.896l224 164.256a24.16 24.16 0 0 0 31.328 0z" fill="#666666"
                p-id="7459"></path>
            <path d="M512 0C229.216 0 0 229.216 0 512s229.216 512 512 512 512-229.216 512-512S794.784 0 512 0z m291.552 670.592a27.008 27.008 0 0 1-27.008 27.008H247.488a27.008 27.008 0 0 1-27.008-27.008v-315.008a27.008 27.008 0 0 1 27.008-26.304h529.056c14.688 0 26.624 11.712 27.008 26.272z"
                fill="#666666" p-id="7460"></path>
        </svg>
    </a>
</p>